@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
    padding: 0;
    margin: 0;
    background: url("img/crossword.png");
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23dbdbdb' fill-opacity='0.09'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 14px;
    color: #3b3c40;
    line-height: 1.5;
    margin-bottom: 1.4em;
}

h1, h2, h3, h4 {
    font-family: Lato, sans-serif;
}

h1 {
    font-weight: 700;
}

h3 {
    font-weight: 400;
}

#hero {
    height: 500px;
    background-color: #206fd6;
    color: white;
    position: relative;
    min-height: 50vh;
}

#hero-info {
    padding-top: 100px;
}

#name {
    font-size: 64px;
    text-align: center;
    margin: 0 auto;
}

.nav-wrap {
    width: calc(100vw - 200px);
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

#name-nav {
    transform: translateY(30px);
    opacity: 0;
    font-size: 30px;
    line-height: 42px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    transition: all 0.2s;
}

#name-nav.sticky {
    transform: none;
    opacity: 1;
}

#contact-info, #contact-info-nav {
    margin-top: 40px;
    transition: all 0.2s;
    height: 24px;
}

#contact-info-nav {
    transform: translateY(30px);
    opacity: 0;
}

#contact-info-nav.sticky {
    transform: none;
    opacity: 1;
}

#contact-info-nav, #contact-info.sticky {
    right: 0;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 8px;
}

#contact-info > ul, #contact-info-nav > ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

#contact-info li, #contact-info-nav li {
    display: inline-block;
    border: 1px solid white;
    border-radius: 100px;
    margin: 0 3px;
    transition: background-color 0.2s;
}

#contact-info li:hover, #contact-info-nav li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#contact-info a, #contact-info-nav a {
    color: white;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}

nav {
    background-color: #206fd6;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.32);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 42px;
    z-index: 5;
}

nav.sticky {
    position: fixed;
    top: 0;
}

#nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    font-size: 0;
}

.nav-link {
    padding: 10px 20px;
    display: inline-block;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 16px;
}

.nav-link:hover, .nav-link.active:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.nav-link.active {
    background-color: rgba(0, 0, 0, 0.15);
}

.nav-link:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

nav h3 {
    margin: 0;
}

.content-card {
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: white;
    z-index: 2;
    overflow: hidden;
}

.section-wrap {
    overflow: auto;
    min-height: 51vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#info {
    margin-top: 50px;
}

#info-card {
    width: 900px;
    height: 500px;
    margin: 50px 0;
}

#info-sidebar {
    background-color: #f0f0f0;
    width: 300px;
    position: absolute;
    left: 0;
    height: 100%;
    border-right: solid 1px #ccc;
}

#info-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#info-list > li {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    color: #555;
    cursor: pointer;
    transition: background-color 0.3s, border-left 0.2s;
    border-collapse: collapse;
}

#info-list > li:hover, #info-list > li.active:hover {
    background-color: rgba(0, 0, 0, 0.15);
    color: #333;
}

#info-list h3 {
    margin: 0 20px;
}

#info-list > li.active {
    border-left: 5px solid #206fd6;
    background-color: rgba(0, 0, 0, 0.1);
}

#experience-foreground {
    background: url("img/denim.png");
    background-size: 135px;
    width: 100%;
    margin: 50px 0;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.exp-card {
    height: 475px;
    width: 325px;
    margin: 40px;
    background-color: #f0f0f0;
}

.title-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
}

.exp-image-wrap {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
}

.exp-image {
    max-height: 68px;
    max-width: 70%;
}


.exp-card h1 {
    color: #444;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0
}

.exp-card h2 {
    color: #666;
    font-size: 14px;
    margin-top: 0;
}

.exp-card ul {
    list-style: none;
    font-size: 14px;
    margin: 25px 30px;
    padding-left: 15px;
    list-style: square url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
}

.exp-card li {
    margin: 10px auto
}

#projects {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px auto;
    max-width: 1500px;
}

#projects:after {
    max-width: 300px;
    content: "";
    flex: auto;
}

.project-card {
    height: 300px;
    width: 400px;
    margin: 20px;
    overflow: hidden;
    background-color: #f0f0f0;
}

.project-card-fill {
    height: 0;
    width: 440px;
}

.project-card > h1 {
    font-size: 48px;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 2;
    margin: 0;
    line-height: 300px;
    text-shadow: 1px 1px black;
}

.project-card:hover {
    cursor: pointer;
}

.project-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(8px);
    transform: scale(1);
    transition: all 0.5s;
    background-position: center;
}

.project-card:hover .project-img {
    filter: none;
    transform: scale(1.03);
}

.project-vignette {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    transition: all 0.5s;
}

.project-card:hover .project-vignette {
    background-color: rgba(0, 0, 0, 0.1);
}

#fluffify-thumb {
    background-image: url("img/fluffify/thumb.png");
}

#taa-thumb {
    background-image: url("img/taa/thumb.png");
}

#pantri-thumb {
    background-image: url("img/pantri/thumb.png");
}

#stalkr-thumb {
    background-image: url("img/stalkr/thumb.png");
}

#nimbus-thumb {
    background-image: url("img/nimbus/thumb.png");
}

#beacon-thumb {
    background-image: url("img/beacon/thumb.png");
}

#alisa-thumb {
    background-image: url("img/alisa/thumb.png");
}

#socal-thumb {
    background-image: url("img/socal/thumb.png");
}

#expanded-project-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.4s;
}

#expanded-project-wrap.active {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.expanded-project {
    background-color: white;
    opacity: 0;
    border-radius: 10px;
    width: 1000px;
    height: 600px;
    position: fixed;
    top: calc(50vh - 300px);
    left: calc(50vw - 500px);
    transition: none;
    overflow: hidden;
}

.expanded-project.expanding {
    opacity: 0.5;
    transition: all 0.4s;
}

.expanded-project.contracting {
    opacity: 0;
    transition: all 0.4s;
}

.expanded-project.active {
    pointer-events: auto;
    opacity: 1;
    cursor: default;
}

#expanded-project-wrap > .expanded-project:not(.active) {
    pointer-events: none;
}

.project-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.project-description {
    width: 400px;
    padding: 50px;
}

.project-media {
    background-color: #f0f0f0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}

.project-media.horizontal {
    flex-direction: row;
    width: 360px;
    flex-wrap: wrap;
    padding: 40px;
}

.project-media > * {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.project-content h1 {
    margin: 0;
}

.project-content h2 {
    margin-top: 0;
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
}
